{% extends 'base.html.twig' %}

{% block title %}Hello DokController!{% endblock %}

{% block body %}
    <div {{ react_component('Dok/DokOrderComponent', { 'products': products , 'users': users}) }}></div>
{% endblock %}
